sommelier-workflow.json
{
  "name": "AI Sommelier Expert - WooCommerce Wine Advisor",
  "nodes": [
    {
      "parameters": {
        "public": true,
        "initialMessages": "👋 Benvenuto! Sono il tuo Sommelier AI personale.\n\nPosso aiutarti a:\n🍷 Scegliere il vino perfetto per ogni occasione\n🍽️ Abbinare vini ai tuoi piatti\n📚 Spiegarti caratteristiche e storia dei vini\n🛒 Mostrarti i vini disponibili nel nostro catalogo\n\nCosa posso fare per te oggi?",
        "options": {
          "title": "Sommelier AI - Wine Expert",
          "subtitle": "Il tuo esperto di vini personale",
          "placeholderText": "Chiedi consigli sui vini, abbinamenti o cerca nel catalogo...",
          "getStartedButtonText": "Inizia la consulenza",
          "inputPlaceholder": "Es: Cerco un vino rosso per una cena di pesce..."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.3,
      "position": [-800, 0],
      "id": "chat-trigger",
      "name": "Chat Interface"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "Sei un Sommelier esperto e raffinato con oltre 20 anni di esperienza.\n\nLE TUE COMPETENZE:\n- Profonda conoscenza di vini italiani e internazionali\n- Esperto in abbinamenti cibo-vino\n- Capacità di consigliare vini per ogni occasione e budget\n- Conoscenza delle annate, terroir e metodi di produzione\n- Capacità di spiegare in modo semplice concetti complessi\n\nIL TUO STILE:\n- Professionale ma amichevole\n- Usa emoji appropriate (🍷🍾🥂) per rendere la conversazione piacevole\n- Fornisci sempre 2-3 opzioni quando consigli vini\n- Spiega sempre il PERCHÉ di un abbinamento\n- Quando cerchi nel catalogo, presenta i risultati in modo elegante\n\nQUANDO CONSIGLI UN VINO:\n1. Chiedi informazioni su: occasione, piatto da abbinare, budget, preferenze\n2. Cerca nel catalogo WooCommerce\n3. Presenta 2-3 opzioni con:\n   - Nome e produttore\n   - Caratteristiche principali\n   - Prezzo\n   - Perché lo consigli\n   - Abbinamenti ideali\n\nUSA SEMPRE il tool WooCommerce per cercare vini disponibili prima di consigliare.",
        "options": {
          "systemMessage": "Rispondi sempre in italiano. Usa un tono professionale ma amichevole."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [-400, 0],
      "id": "ai-agent",
      "name": "Sommelier AI Agent"
    },
    {
      "parameters": {
        "modelName": "llama3.2:3b",
        "options": {
          "temperature": 0.7,
          "topP": 0.9,
          "numPredict": 2000,
          "numCtx": 4096
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [-400, 200],
      "id": "ollama-model",
      "name": "Ollama LLM",
      "credentials": {
        "ollamaApi": {
          "id": "ollama-cred",
          "name": "Ollama Local"
        }
      }
    },
    {
      "parameters": {
        "contextWindowLength": 10,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [-200, 200],
      "id": "memory",
      "name": "Conversation Memory"
    },
    {
      "parameters": {
        "toolDescription": "=Cerca vini nel catalogo WooCommerce. Usa questo tool SEMPRE quando l'utente chiede consigli su vini o vuole vedere cosa è disponibile. Puoi cercare per: tipo (rosso/bianco/rosato/spumante), regione, prezzo, vitigno, produttore.",
        "operation": "getAll",
        "options": {
          "per_page": 20,
          "orderby": "title",
          "order": "asc",
          "status": "publish",
          "stock_status": "instock"
        }
      },
      "type": "n8n-nodes-base.wooCommerceTool",
      "typeVersion": 1,
      "position": [-600, 200],
      "id": "woo-search",
      "name": "Search Wine Catalog",
      "credentials": {
        "wooCommerceApi": {
          "id": "woo-cred",
          "name": "WooCommerce API"
        }
      }
    },
    {
      "parameters": {
        "toolDescription": "=Ottieni dettagli completi su un vino specifico inclusi: descrizione completa, note di degustazione, abbinamenti consigliati, annata, gradazione alcolica, temperatura di servizio.",
        "operation": "get",
        "options": {}
      },
      "type": "n8n-nodes-base.wooCommerceTool",
      "typeVersion": 1,
      "position": [-600, 350],
      "id": "woo-details",
      "name": "Get Wine Details",
      "credentials": {
        "wooCommerceApi": {
          "id": "woo-cred",
          "name": "WooCommerce API"
        }
      }
    },
    {
      "parameters": {
        "toolDescription": "=Cerca vini per categoria specifica (es: 'vini-rossi', 'vini-bianchi', 'champagne', 'prosecco'). Usa quando l'utente cerca un tipo specifico di vino.",
        "resource": "productCategory",
        "operation": "getAll",
        "options": {}
      },
      "type": "n8n-nodes-base.wooCommerceTool",
      "typeVersion": 1,
      "position": [-600, 500],
      "id": "woo-category",
      "name": "Search by Category",
      "credentials": {
        "wooCommerceApi": {
          "id": "woo-cred",
          "name": "WooCommerce API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Wine pairing database\nconst pairings = {\n  'pesce': ['Vermentino', 'Pinot Grigio', 'Albana', 'Falanghina'],\n  'carne rossa': ['Barolo', 'Brunello di Montalcino', 'Amarone', 'Chianti Classico'],\n  'pasta': ['Sangiovese', 'Montepulciano', 'Nero d\\'Avola'],\n  'pizza': ['Barbera', 'Lambrusco', 'Primitivo'],\n  'formaggi': ['Gewürztraminer', 'Passito', 'Porto'],\n  'dolci': ['Moscato', 'Recioto', 'Sauternes'],\n  'antipasti': ['Prosecco', 'Franciacorta', 'Champagne']\n};\n\n// Get food type from input\nconst input = $input.all()[0].json.query || '';\nconst foodType = Object.keys(pairings).find(key => \n  input.toLowerCase().includes(key)\n);\n\nif (foodType) {\n  return {\n    json: {\n      food: foodType,\n      recommended_wines: pairings[foodType],\n      message: `Per ${foodType} consiglio questi vini`\n    }\n  };\n}\n\nreturn {\n  json: {\n    message: 'Dimmi che piatto vuoi abbinare'\n  }\n};",
        "toolDescription": "=Suggerisce abbinamenti vino-cibo basati su regole enogastronomiche. Fornisci il tipo di piatto per ricevere suggerimenti."
      },
      "type": "@n8n/n8n-nodes-langchain.toolCode",
      "typeVersion": 1.1,
      "position": [-600, 650],
      "id": "pairing-tool",
      "name": "Wine Food Pairing"
    },
    {
      "parameters": {
        "jsCode": "// Calculate wine scores and recommendations\nconst wines = $input.all()[0].json.wines || [];\n\n// Scoring criteria\nconst scoreWine = (wine) => {\n  let score = 0;\n  \n  // Price/quality ratio\n  const price = parseFloat(wine.price) || 0;\n  if (price > 0 && price < 20) score += 20;\n  else if (price >= 20 && price < 50) score += 30;\n  else if (price >= 50 && price < 100) score += 25;\n  \n  // Availability\n  if (wine.stock_status === 'instock') score += 30;\n  \n  // Reviews\n  const rating = parseFloat(wine.average_rating) || 0;\n  score += rating * 4;\n  \n  // Special tags\n  if (wine.tags?.includes('biologico')) score += 10;\n  if (wine.tags?.includes('premiato')) score += 15;\n  \n  return score;\n};\n\n// Sort wines by score\nconst rankedWines = wines\n  .map(wine => ({...wine, score: scoreWine(wine)}))\n  .sort((a, b) => b.score - a.score)\n  .slice(0, 3);\n\nreturn {\n  json: {\n    top_recommendations: rankedWines,\n    criteria: 'Selezione basata su qualità, prezzo, disponibilità e recensioni'\n  }\n};",
        "toolDescription": "=Analizza e classifica i vini disponibili secondo criteri di qualità, prezzo e recensioni per fornire le migliori raccomandazioni."
      },
      "type": "@n8n/n8n-nodes-langchain.toolCode",
      "typeVersion": 1.1,
      "position": [-600, 800],
      "id": "ranking-tool",
      "name": "Wine Ranking System"
    }
  ],
  "connections": {
    "Chat Interface": {
      "main": [
        [
          {
            "node": "Sommelier AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama LLM": {
      "ai_languageModel": [
        [
          {
            "node": "Sommelier AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Conversation Memory": {
      "ai_memory": [
        [
          {
            "node": "Sommelier AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Search Wine Catalog": {
      "ai_tool": [
        [
          {
            "node": "Sommelier AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get Wine Details": {
      "ai_tool": [
        [
          {
            "node": "Sommelier AI Agent",
            "type": "ai_tool",
            "index": 1
          }
        ]
      ]
    },
    "Search by Category": {
      "ai_tool": [
        [
          {
            "node": "Sommelier AI Agent",
            "type": "ai_tool",
            "index": 2
          }
        ]
      ]
    },
    "Wine Food Pairing": {
      "ai_tool": [
        [
          {
            "node": "Sommelier AI Agent",
            "type": "ai_tool",
            "index": 3
          }
        ]
      ]
    },
    "Wine Ranking System": {
      "ai_tool": [
        [
          {
            "node": "Sommelier AI Agent",
            "type": "ai_tool",
            "index": 4
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "meta": {
    "templateId": "sommelier-ai-woocommerce"
  },
  "tags": [
    {
      "name": "AI",
      "createdAt": "2024-01-01T00:00:00.000Z"
    },
    {
      "name": "WooCommerce",
      "createdAt": "2024-01-01T00:00:00.000Z"
    },
    {
      "name": "Sommelier",
      "createdAt": "2024-01-01T00:00:00.000Z"
    }
  ]
}